@model Escuela

@{
    ViewData["Title"] = "Informacion escuela";
    Layout = "Simple";
}

<h1> Escuela </h1>
<h2> Nombre: @Model.Nombre </h2>
<h3> Tipo de Escuela: @Model.TipoEscuela</h3>
<p><strong>Año Fundación: </strong> @Model.AñoFundación </p>
<address>
    <p>Dirección: @Model.Dirección </p>
    <p>País: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad </p>
</address>

<p><i> @ViewBag.CosaDinamica </i></p>